exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "rainbow", "dev.off", "pdf")
importFrom("graphics", "hist", "par", "plot", "points", "legend", "abline")
importFrom("stats", "median", "quantile", "hclust", "as.dendrogram", "as.dist", "cutree", "density", "dnorm", "kmeans", "lm", "sd", "var")
importFrom("utils", "read.table", "write.table", "find")
importFrom("e1071", "impute")
importFrom("proxy", "dist")
importFrom("distances", "distances")
importFrom("biomaRt", "useMart")
importFrom("matlab", "mod", "ceil", "fliplr", "isempty", "repmat", "filesep")
importFrom("gplots", "heatmap.2")
importFrom("RColorBrewer", "brewer.pal")
importFrom("arules", "quality", "apriori")
importFrom("parallel", "detectCores", "makeCluster", "stopCluster", "clusterApply")
importFrom("ape", "write.tree", "as.phylo", "subtrees")
importFrom("phangorn", "phyDat", "dist.hamming", "nnls.tree")
importFrom("methods", "as")
